USE [master]
GO
/****** Object:  Database [Rezultatele]    Script Date: 2022. 11. 21. 15:13:20 ******/
CREATE DATABASE [Rezultatele]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Rezultatele', FILENAME = N'C:\Users\prezs\Rezultatele.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Rezultatele_log', FILENAME = N'C:\Users\prezs\Rezultatele_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Rezultatele].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Rezultatele]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2022. 11. 21. 15:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CentreDeExamen]    Script Date: 2022. 11. 21. 15:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CentreDeExamen](
	[Scoala] [nvarchar](450) NOT NULL,
	[Judet] [nvarchar](max) NOT NULL,
	[Localitate] [nvarchar](max) NULL,
	[Examen] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_CentreDeExamen] PRIMARY KEY CLUSTERED 
(
	[Scoala] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 2022. 11. 21. 15:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Code] [nvarchar](450) NOT NULL,
	[Judet] [nvarchar](max) NOT NULL,
	[Poz_Judet] [int] NULL,
	[Poz_Tara] [int] NULL,
	[Scoala] [nvarchar](max) NOT NULL,
	[Spec] [nvarchar](max) NOT NULL,
	[Rom_scris] [float] NOT NULL,
	[Rom_Cont] [float] NULL,
	[Magy_Fajta] [nvarchar](max) NULL,
	[Magy_scris] [float] NULL,
	[Magy_Cont] [float] NULL,
	[Kot_Fajta] [nvarchar](max) NOT NULL,
	[Kot_scris] [float] NOT NULL,
	[Kot_Cont] [float] NULL,
	[Val_Fajta] [nvarchar](max) NOT NULL,
	[Val_scris] [float] NOT NULL,
	[Val_Cont] [float] NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220721113433_AddToDatabase', N'6.0.7')
GO
INSERT [dbo].[CentreDeExamen] ([Scoala], [Judet], [Localitate], [Examen]) VALUES (N'COLEGIUL NATIONAL "MARTON ARON" MIERCUREA CIUC', N'HR', N'MIERCUREA CIUC', N'COLEGIUL NATIONAL "MARTON ARON" MIERCUREA CIUC')
INSERT [dbo].[CentreDeExamen] ([Scoala], [Judet], [Localitate], [Examen]) VALUES (N'COLEGIUL NATIONAL "OCTAVIAN GOGA" MIERCUREA CIUC', N'HR', N'MIERCUREA CIUC', N'COLEGIUL NATIONAL "MARTON ARON" MIERCUREA CIUC')
INSERT [dbo].[CentreDeExamen] ([Scoala], [Judet], [Localitate], [Examen]) VALUES (N'LICEUL "MARIN PREDA" ODORHEIU SECUIESC', N'HR', N'ODORHEIU SECUIESC', N'LICEUL TEORETIC "TAMASI ARON" ODORHEIU SECUIESC')
GO
INSERT [dbo].[Students] ([Code], [Judet], [Poz_Judet], [Poz_Tara], [Scoala], [Spec], [Rom_scris], [Rom_Cont], [Magy_Fajta], [Magy_scris], [Magy_Cont], [Kot_Fajta], [Kot_scris], [Kot_Cont], [Val_Fajta], [Val_scris], [Val_Cont]) VALUES (N'CV1000129', N'CV', NULL, NULL, N'LICEUL TEORETIC "MIKES KELEMEN" SFANTU GHEORGHE', N'STIINTILE SOCIALE', 8.7, NULL, N'LIMBA MAGHIARA (UMAN)', 9.2, NULL, N'ISTORIE', 9.2, NULL, N'GEOGRAFIE', 9.6, NULL)
INSERT [dbo].[Students] ([Code], [Judet], [Poz_Judet], [Poz_Tara], [Scoala], [Spec], [Rom_scris], [Rom_Cont], [Magy_Fajta], [Magy_scris], [Magy_Cont], [Kot_Fajta], [Kot_scris], [Kot_Cont], [Val_Fajta], [Val_scris], [Val_Cont]) VALUES (N'CV1002204', N'CV', NULL, NULL, N'LICEUL TEORETIC "MIKES KELEMEN" SFANTU GHEORGHE', N'MATEMATICA-INFORMATICA', 4.4, NULL, N'LIMBA MAGHIARA (REAL)', 7.2, NULL, N'MATEMATICA MATE-INFO', 5.7, NULL, N'INFORMATICA MI C/C++', 8.3, NULL)
INSERT [dbo].[Students] ([Code], [Judet], [Poz_Judet], [Poz_Tara], [Scoala], [Spec], [Rom_scris], [Rom_Cont], [Magy_Fajta], [Magy_scris], [Magy_Cont], [Kot_Fajta], [Kot_scris], [Kot_Cont], [Val_Fajta], [Val_scris], [Val_Cont]) VALUES (N'CV1002233', N'CV', NULL, NULL, N'LICEUL TEORETIC "MIKES KELEMEN" SFANTU GHEORGHE', N'STIINTILE ALE NATURII', 2.2, NULL, N'LIMBA MAGHIARA (REAL)', 9.5, NULL, N'MATEMATICA ST-NAT', 3.2, NULL, N'ANATOMIE SI FIZIOLOGIE UMANA, GENETICA SI ECOLOGIE UMANA', 2.9, NULL)
GO
USE [master]
GO
